<div class="container-fluid">
  <h1 class="hero-title text-center m-5">Chatting with <%= @them.username %></h5>
</div>
<div class="container d-flex justify-content-center">
<div class="messages-container overflow-auto">
  <% @messages.each do |message| %>
    <% if message.body %>
      <% user = User.find(message.user_id) %>
      <% if user == @them %>
        <div class="d-flex justify-content-end">
          <p class="text-right bg-secondary p-3 rounded text-white">
            <strong><%= user.username %></strong><br>
            <%= message.body %></p>
          <%= show_chat_avatar(@them) %>
        <%# </div> %>
      <% else %>
        <div class="d-flex justify-content-start">
          <%= show_chat_avatar(@you) %>
          <p class="bg-info p-3 rounded text-white">
            <strong><%= user.username %></strong><br>
            <%= message.body %>
          </p>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
</div>
  <%= form_for [@conversation, @message], html: {class: "input-group"} do |f| %>
    <div class="container">
        <%= f.text_area :body, class: "form-control" %>
        <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
        <div>
          <%= f.submit "submit", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
$( "div.messages-container" ).scrollTop( 1000 );
</script>
