<%= render "errors" %>
<form>
<%= form_with(model: @listing, local: true) do |form| %>
    <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, :required => true, class: "form-control" %>
        <small class="form-text text-muted">How creative can you get with alpha-numeric characters.</small>
    </div>
    <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, :required => true, class: "form-control" %>
        <small class="form-text text-muted">Tell the world about your wise quacker. Buyers want as many details as possible including experience, proficiencies and hobbies are always nice. But please don't lie, we know your duck didn't invent Google.</small>
    </div>
    <div class="form-group">
        <%= form.label :price %>
        <%= form.number_field :price, min: 0, :required => true  %>
        <small class="form-text text-muted">How much is your duck worth?</small>
    </div>
    <div class="form-group">
        <%= form.label :picture %> <%= form.file_field :picture, accept:
        'image/png,image/gif,image/jpeg,image/jpg' %>
        <small class="form-text text-muted">jpgs, pngs, 'n' gifs only here people</small>
    </div>
    <div class="form-group">
    <% @experience.each do |exp|%>
            <%= form.label "#{exp.language}".to_sym %>
            <%= check_box_tag "listing[experience_ids][]", exp.id, @listing.experience_ids.include?(exp.id) %>
    <% end %>
    <small class="form-text text-muted">What does your duck know?</small>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>
</form>