<%= form_with(model: @listing, local: true) do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>
    <div>
        <%= form.label :price %>
        <%= form.number_field :price, min: 0 %>
    </div>
    <div>
        <%= form.label :picture %> <%= form.file_field :picture, accept:
        'image/png,image/gif,image/jpeg,image/jpg' %>
    </div>
    <% @experience.each do |exp|%>
        <div>
            <%= form.label "#{exp.language}".to_sym %>
            <%= check_box_tag "listing[experience_ids][]", exp.id, @listing.experience_ids.include?(exp.id) %>

            <%#= form.select(:experience_id, @experience.map{|lang| [lang.language, lang.id]}) %>
        <div>
    <% end %>
    <div>
        <%= form.submit %>
    </div>
<% end %>
