<div class="container-fluid">
  <h1 class="hero-title text-center">find an experienced duck</h5>
</div>
<%# SEARCH BAR %>
<%= form_tag listings_path, method: :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag("search", name: nil) %>
<% end %>

<div class="row row-cols-1 row-cols-md-4">
  <% @listings.each do |listing| %>
    <% if !listing.purchased %>
      <div class="col-sm-4">
        <div class="card border-light">
        <%# SHOW PHOTO METHOD IN APPLICATION HELPER %>
          <%= show_picture(listing) %>
          <div class="card-body">
            <h5 class="card-title"><%= listing.name %>
              <%# FAVOURITES METHOD IN APPLICATION HELPER %>
              <%= favourites(listing) %>
            </h5>
            <p class="card-text text-secondary" id="truncate"><%= listing.description %></p>
            <div class="card-title col-12 d-flex justify-content-end">
              <%= "$#{listing.price}" %>
            </div>
            <div class= "d-inline">
              <%= link_to "show", listing_path(listing.id) %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
  <% end %>
</div>
