

<%# FIX ME! make page responsive, currently only displaying three columns at max width %>

<div class="container-fluid">
<div class="row">
<% @listings.each do |listing| %>
    <div class="card col-11 col-sm-7 col-md-6 col-lg-3 col-xl-2" style="width: 18rem;">
    <%= image_tag listing.picture, class: "card-img-top" %>
    <%# <img src="https://www.noveltytoyworld.co.uk/ekmps/shops/aef66f/images/rubber-ducks-wholesale-yellow-5cm-quantity-2000-please-enquire-for-price-availability-[0]-0-p.jpg" class="card-img-top" alt="..."> %>
    <div class="card-body">
    <h5 class="card-title"><%= listing.name %></h5>
    <p class="card-text"><%= listing.description %></p>
    <p><%= listing.price %></p>
    <%= link_to "edit", edit_listing_path(listing.id), class: "btn btn-primary" %>
    <%= link_to "show", listing_path(listing.id), class: "btn btn-primary" %>
    <%= link_to "delete", listing_path(listing),
              method: :delete,
              data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
                </div>
</div>
<% end %>

</div>
</div>

