<div class="container-fluid">
    <h1 class="hero-title text-center">find an experienced duck</h5>
</div>

<div class="frame container-fluid padding">
  <div class="row padding">

      <% @listings.each do |listing| %>
        <div class="col-md-3">
        <div class="card">
          <% if listing.picture.attached? %>
            <%= image_tag(listing.picture, {class: "card-img-top"}) %>
          <% else %>
            <%= image_tag("duck.png", {class: "card-img-top"}) %>
          <% end %>

          <div class="card-body">
            <h5 class="card-title"><%= listing.name %></h5>
            <p class="card-text" id="truncate"><%= listing.description %></p>
            <p class="card-title"><%= listing.price %></p>
                <%= link_to "edit", edit_listing_path(listing.id), class: "btn btn-primary middle" if @show_button %>
                <%= link_to "show", listing_path(listing.id), class: "btn btn-outline-secondary" %>
                <%= link_to "delete", listing_path(listing),
                      method: :delete,
                      data: { confirm: "Are you sure?" }, class: "btn btn-primary" if @show_button %>
          </div>
          </div>
        </div>
      <% end %>

  </div>
</div>

