<% if current_user %>
<%= link_to "sign out", destroy_user_session_path,
    method: :delete %>
<% else %>
<%= link_to "sign up", new_user_registration_path %>
<%= link_to "login", new_user_session_path %>
<% end %>
<section class="bgimage">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="hero-title">got a bug? get a duck.</h5>
                <div>
                    <a href="#" class="btn btn-info">buy a duck »</a>
                    <a href="#" class="btn btn-outline-info">sell a duck »</a>
                </div>
        </div>
    </div>
</div>
</section>

<%# FIX ME! make page responsive, currently only displaying three columns at max width %>

<div class="container-fluid">
<div class="row">
<% @listings.each do |listing| %>
    <div class="card col-11 col-sm-7 col-md-6 col-lg-3 col-xl-2" style="width: 18rem;">
    <%= image_tag listing.picture if listing.picture.attached? %>
    <%# <img src="https://www.noveltytoyworld.co.uk/ekmps/shops/aef66f/images/rubber-ducks-wholesale-yellow-5cm-quantity-2000-please-enquire-for-price-availability-[0]-0-p.jpg" class="card-img-top" alt="..."> %>
    <div class="card-body">
    <h5 class="card-title"><%= listing.name %></h5>
    <p class="card-text"><%= listing.description %></p>
    <p><%= listing.price %></p>
    <%= link_to "edit", edit_listing_path(listing.id), class: "btn btn-primary" %>
    <%= link_to "show", listing_path(listing.id), class: "btn btn-primary" %>
    <%= link_to "delete", listing_path(listing),
              method: :delete,
              data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
                </div>
</div>
<% end %>

</div>
</div>

