<div class="container-fluid">
  <div class="row">

      <% @listings.each do |listing| %>
        <div class="card col-11 col-sm-7 col-md-6 col-lg-3 col-xl-2" style="width: 18rem;">
          <% if listing.picture.attached? %>
            <%= image_tag(listing.picture, {class: "card-img-top"}) %>
          <% else %>
            <%= image_tag("duck.png", {class: "card-img-top"}) %>
          <% end %>

          <div class="card-body">
            <h5 class="card-title"><%= listing.name %></h5>
            <p class="card-text"><%= listing.description %></p>
              <p class="card-title"><%= listing.price %></p>
                <%= link_to "edit", edit_listing_path(listing.id), class: "btn btn-primary" if current_user.id == listing.user.id%>
                <%= link_to "show", listing_path(listing.id), class: "btn btn-primary" %>
                <%= link_to "delete", listing_path(listing),
                      method: :delete,
                      data: { confirm: "Are you sure?" }, class: "btn btn-primary" if current_user.id == listing.user.id %>
          </div>
        </div>
      <% end %>

  </div>
</div>

