<div class="container-fluid">
  <h1 class="hero-title text-center m-5">get your ducks in a row</h5>
</div>
<div class="container-fluid">
  <h2 class="hero-title text-center"><%= get_sold_active_listings_count(@listings) %></h2>
</div>
<div class="d-flex justify-content-around bg-light p-3">
  <h5>Sort your ducks by:</h5>
  <%= content_tag :th, sort_link(@search, :name) %>
  <%= content_tag :th, sort_link(@search, :price) %>
  <%= content_tag :th, sort_link(@search, :created_at) %>
  <%= content_tag :th, sort_link(@search, :updated_at) %>
  <%= content_tag :th, sort_link(@search, :purchased) %>
</div>
<div class="row row-cols-1 row-cols-md-3">
  <% @listings.each do |listing| %>
    <div class="card border-light p-1">
<%# SHOW PICTURE METHOD IN APPLICATION HELPER %>
      <div class="thumbnail"><%= show_picture(listing) %></div>
      <% if listing.purchased %>
        <div class="card-body bg-warning">
          <h5><%= listing.name %></h5>
          <div class="d-flex justify-content-between">
            <div class="text-center">
              <h1> SOLD </h1>
            </div>
            <%= delete(listing) %>
          </div>
        </div>
      <% else %>
        <div class="card-body">
          <h5><%= listing.name %></h5>
          <div class="d-flex justify-content-between">
<%# FAVOURITES METHOD IN APPLICATION HELPER %>
            <p>Number of favourites:<%= get_number_of_favourites(listing) %></p>
          </div>
          <div class= "d-flex justify-content-between">
            <%= link_to "show", listing_path(listing.id), class: "show-button" %>
            <h5><%= "$#{listing.price}" %></h5>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
