<div class="container">

    <% current_user.listings.each do |listing| %>
    <div class="row">
        <div class="col"><%= show_picture(listing) %></div>
        <div class="col-6">
            <h1><%= listing.name %></h1>
            <p><%= listing.price %></p>
            <p><%= listing.description %></p>
        </div>
        <div class="col">
            <%= link_to "show", listing_path(listing.id), class: "btn btn-outline-secondary" %>
            <%= edit(listing) %><%= delete(listing) %>
        
        </div>
    </div>
    

</div>
<% end %>
