
<% current_user.listings.each do |listing| %>

<h1><%= listing.name %></h1>
<p><%= listing.name %></p>
<p><%= listing.description %> </p> 
<p><%= listing.price %></p>
<div>
<%= link_to "show", listing_path(listing.id), class: "btn btn-outline-secondary" %>
    <%= link_to "edit", edit_listing_path(listing.id), class: "btn btn-primary middle" %>
    <%= link_to "delete", listing_path(listing),
            method: :delete,
            data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
</div>

<% end %>
