<div class="container d-flex flex-column flex-md-row px-2 my-2 my-md-5">
  <div class="content col-12 col-md-7 col-lg-8 p-0 pr-md-3">

    <div class="col-12 details">
      <h1><%= @listing.name %></h1>
      <p><%= @listing.description %></p>
      <%# FAVOURITES METHOD IN APPLICATION HELPER %>
      <%= favourites(@listing) %>
    </div>

    <div class="col-12 p-0 main-preview mb-4 border">
      <%= show_picture(@listing) %>
    </div>

  </div>

  <div class="sidebar col-5 col-lg-4 p-0 mx-2 d-md-block">
    <div class="col-12 p-3 bg-light">
      <h1><%= " $ #{@listing.price}" %></h1>
    <%= edit(@listing) %><%= delete(@listing) %>
      <% if current_user.id != @listing.user.id %>
        <button class="btn btn-secondary btn-lg" data-stripe="payment">
          Buy now
        </button>
      <% end %>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        document
          .querySelector("[data-stripe='payment']")
          .addEventListener("click", () => {
            const stripe = Stripe(
              "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
            );
        
            stripe.redirectToCheckout({
              sessionId: "<%= @session_id %>"
            });
          });
      </script>
    </div>
    <div>Seller: <%= @listing.user.username %>
<%# USER AVATAR HELPER %>
    <%= show_avatar(@listing) %>
    </div>
    <div>Experience: <% @listing.experiences.each do |lang| %>
        <%= lang.language %>
      <% end %>
    </div>
    <% if @listing.user.id != current_user.id %>
      <%= link_to "Message #{@listing.user.username}", conversations_path(sender_id: current_user.id, recipient_id: @listing.user.id), method: "post" %>
    <% end %>
  </div>
</div>
