<div class="container-fluid">
  <h1 class="hero-title text-center m-5">ducks you've been peking at</h5>
</div>

<div class="container p-3">

<div class="d-flex justify-content-around bg-light p-3"> 
<h5>Sort your favs:</h5>
  <%= content_tag :th, sort_link(@search, :name) %>
  <%= content_tag :th, sort_link(@search, :price) %>
  <%= content_tag :th, sort_link(@search, :created_at) %>
  <%= content_tag :th, sort_link(@search, :updated_at) %>

</div>

    <% @listings.each do |listing| %>
    <div class="row">
        <div class="col"><%= show_picture(listing) %></div>
        <div class="col-6">
            <h1><%= listing.name %></h1>
            <p><%= listing.price %></p>
            <p><%= listing.description %></p>
        </div>
        <div class="col">
            <% if listing.purchased == true %>
                <p> no longer available</p>
                <%= link_to "remove from favorites", favorite_listing_path(listing, type: "unfavorite"), method: :put%>
            <% else %>
                <%= link_to "show", listing_path(listing.id), class: "btn btn-outline-secondary" %>
           <% end %>
        </div>
    </div>
    

</div>
</div>
<% end %>