<h1><%= @listing.name %></h1>
<p>Name: <%= @listing.name %></p>
<p>Description: <%= @listing.description %></p>
<p>Price: <%= @listing.price %></p>
<div>
    <%= link_to "edit", edit_listing_path(@listing.id), class: "btn btn-primary middle" if current_user.id == @listing.user.id %>
    <%= link_to "delete", listing_path(@listing),
            method: :delete,
            data: { confirm: "Are you sure?" }, class: "btn btn-primary" if current_user.id == @listing.user.id %>
          </div>

<% if current_user %>
  <%= link_to "favorite", favorite_listing_path(@listing, type: "favorite"), method: :put unless current_user.favorite_ids.include? params[:id].to_i %>
  <%= link_to "unfavorite", favorite_listing_path(@listing, type: "unfavorite"), method: :put if current_user.favorite_ids.include? params[:id].to_i %>
<% end %>

        