<h1><%= @user.username %></h1>
<p>Bio: <%= @user.bio %></p>

<div class="container-fluid">
  <h2 class="hero-title text-center m-5">Active Listings:
  <%= @user.listings.count %>
  </h2>
</div>

<% if @user.avatar.attached? %>
  <%= image_tag(@user.avatar, {class: "card-img-top"}) %>
<% else %>
  <%= image_tag("default-user-01.png", {class: "card-img-top"}) %>
<% end %>
<%= link_to "edit profile", edit_user_path(current_user), class: 'btn btn-warning' %>
