<!--Carousel Wrapper-->
<div class=" hide-small">
  <div id="carousel" class="carousel slide" data-ride="carousel">
  <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
       <%= image_tag("slider-01.png", {class: "d-block w-100"}) %>
        </div>
        <div class="carousel-caption">
          <h1 class="hero-title-left h3-responsive">got a bug?<br>get a duck.</h1>
            <div class="carousel-button-left">
        <a href="#" class="btn btn-secondary btn-lg">sign up »</a>
            </div>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
      <%= image_tag("slider-02.png", {class: "d-block w-100"}) %>
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h1 class="hero-title-right h3-responsive">found a new bug?<br>find a new duck.</h1>
        <div class="carousel-button-right">
        <a href="#" class="btn btn-secondary btn-lg">sign up »</a>
      </div>
      </div>
    </div>
    </div>
  <!--/.Slides-->
</div>
</div>
<!--/.Carousel Wrapper-->
<div class="hide-large">
<div id="carousel-small" class="carousel slide" data-ride="carousel">
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
       <%= image_tag("slider-3-03.png", {class: "d-block w-100"}) %>
        <%# <div class="mask rgba-black-light"></div> %>
      </div>
      <div class="carousel-caption">
        <h1 class="hero-title-left h3-responsive">got a bug?<br>get a duck.</h1>
        <div class="carousel-button-left">
        <a href="#" class="btn btn-secondary btn-lg">sign up »</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
      <%= image_tag("slider-3-04.png", {class: "d-block w-100"}) %>
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h1 class="hero-title-right h3-responsive">found a new bug?<br>find a new duck.</h1>
        <div class="carousel-button-right">
        <a href="#" class="btn btn-secondary btn-lg">sign up »</a>
      </div>
      </div>
    </div>
  <!--/.Slides-->
</div>
</div>
</div>

<div class="jumbotron bg-transparent jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">welcome</h1>
    <p class="lead text-center">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>


<%# SHOWS THE FIVE MOST RECENT LISTING HERE %>
<div class="row row-cols-1 row-cols-md-2">

      <% @listings.each do |listing| %>
        <div class="col mb-4">
        <div class="card border-light">
          <%= show_picture(listing) %>

          <div class="card-body">
            <h5 class="card-title"><%= listing.name %></h5>
            <p class="card-text" id="truncate"><%= listing.description %></p>
            <p class="card-title"><%= listing.price %></p>
                <%= link_to "show", listing_path(listing.id), class: "btn btn-outline-secondary" %>
          </div>
          </div>
        </div>
      <% end %>

</div>