<section class="bgimage">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">    
        </div>
    </div>
</div>
</section>

<div class="container-fluid">
    <h1 class="hero-title text-center">got a bug? get a duck.</h5>
</div>
<%# <div>
    <a href="#" class="btn btn-info">buy a duck »</a>
    <a href="#" class="btn btn-outline-info">sell a duck »</a>
</div> %>

<%# SHOWS THE FIVE MOST RECENT LISTING HERE %>
<div class="frame container-fluid padding">
  <div class="row padding d-flex justify-content-between">

      <% @listings.each do |listing| %>
        <div class="col-md-2">
        <div class="card">
          <% if listing.picture.attached? %>
            <%= image_tag(listing.picture, {class: "card-img-top"}) %>
          <% else %>
            <%= image_tag("duck.png", {class: "card-img-top"}) %>
          <% end %>

          <div class="card-body">
            <h5 class="card-title"><%= listing.name %></h5>
            <p class="card-text" id="truncate"><%= listing.description %></p>
            <p class="card-title"><%= listing.price %></p>
                <%= link_to "show", listing_path(listing.id), class: "btn btn-outline-secondary" %>
          </div>
          </div>
        </div>
      <% end %>

  </div>
</div>