<%# <section class="bgimage">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">    
        </div>
    </div>
</div> %>

<!--Carousel Wrapper-->

<div id="carousel" class="carousel slide" data-ride="carousel">
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
       <%= image_tag("slider-01.png", {class: "d-block w-100"}) %>
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h1 class="hero-title-left h3-responsive">got a bug?<br>get a duck.</h1>
        <div class="carousel-button-left">
        <a href="#" class="btn btn-info">buy a duck »</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
      <%= image_tag("slider-02.png", {class: "d-block w-100"}) %>
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h1 class="hero-title-right h3-responsive">found a new bug?<br>find a new duck.</h1>
        <div class="carousel-button-right">
        <a href="#" class="btn btn-info">sell a duck »</a>
      </div>
      </div>
    </div>
  <!--/.Slides-->
  <!--Controls-->
  <%# <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> %>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
</section>

<%# <div class="container-fluid">
    <h1 class="hero-title text-center">got a bug? get a duck.</h5>
</div> %>
<%# <div>
    <a href="#" class="btn btn-info">buy a duck »</a>
    <a href="#" class="btn btn-outline-info">sell a duck »</a>
</div> %>

<%# SHOWS THE FIVE MOST RECENT LISTING HERE %>
<div class="frame container-fluid padding">
  <div class="row padding d-flex justify-content-between">

      <% @listings.each do |listing| %>
        <div class="col-md-2">
        <div class="card">
          <% if listing.picture.attached? %>
            <%= image_tag(listing.picture, {class: "card-img-top"}) %>
          <% else %>
            <%= image_tag("duck.png", {class: "card-img-top"}) %>
          <% end %>

          <div class="card-body">
            <h5 class="card-title"><%= listing.name %></h5>
            <p class="card-text" id="truncate"><%= listing.description %></p>
            <p class="card-title"><%= listing.price %></p>
                <%= link_to "show", listing_path(listing.id), class: "btn btn-outline-secondary" %>
          </div>
          </div>
        </div>
      <% end %>

  </div>
</div>