  <nav class="navbar navbar-expand-md navbar-light bg-transparent sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <span id="logo"><%= link_to "dev-duck-swap", root_path, class: "navbar-brand" %></span>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <%# change the nav bar items based on whether the user is logged in and if they have listings/favourites %>
           
            <% if current_user %>
          <li class="nav-item">
            <%= link_to "ducks", listings_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "sell", new_listing_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "messages", conversations_path, class: "nav-link" %>
          </li>

            <% if Listing.exists?(user_id: current_user.id) %>
              <li class="nav-item">
                <%= link_to "manage listings", manage_listings_path, class: "nav-link" %>
              </li>
            <% end %>

            <% if current_user.favorite_ids.length > 0 %>
              <li class="nav-item">
                <%= link_to "favorites", show_favorites_path, class: "nav-link" %>
              </li>
            <% end %>

          <li class="nav-item">
            <%= link_to "profile", profile_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "log out", destroy_user_session_path,
                method: :delete, class: "nav-link" %>
          </li>



            <% else %>

          <li class="nav-item">
            <%= link_to "ducks", listings_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "sign up", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "login", new_user_session_path, class: "nav-link" %>
          </li>

              <% end %>
        </ul>
  </div>
</nav>
