<!DOCTYPE html>
<html>
  <head>
    <title>RubberDucky</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/d1e9e13727.js" crossorigin="anonymous"></script>
  </head>
<header><%= render "layouts/navbar" %></header>
  <body class="page-container">
    <%= yield %>
  </body>
  <%= render "layouts/footer" %>
</html>
